@font-face {
	font-family: 'Calton Elegance Sans';
	src: url(../../assets/fonts/CaltonEleganceSans.woff2) format('woff2'),
	url(../../assets/fonts/CaltonEleganceSans.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}