.hizmetlerimiz main {
  padding: 10vw 0 0rem 0;
}

.hizmetlerimiz ul {
  width: 100%;
  /*max-width: 90%;*/
  margin: 0 auto;
}

.hizmetlerimiz li {
  margin: 10rem 0;
  text-align: left;
}

@media (max-width: 768px) {
  .hizmetlerimiz p {
    /*font-family: 'Lato', sans-serif;*/
    font-size: 1rem;
    line-height: 1;
    /*mix-blend-mode: difference;*/
    /*color: #ffffff;*/
    padding: 0 1rem;
  }
}

@media (min-width: 768px) {
  .hizmetlerimiz p {
    font-size: 1.5rem;
  }
}

.hizmetlerimiz p + p {
  margin-top: 10px;
}

.hizmetlerimiz li:first-child {
  margin-top: 0;
}

.hizmetlerimiz li:nth-child(even) {
  text-align: right;
}

.hizmetlerimiz a {
  color: #fff;
}

.hizmetlerimiz a:hover {
  text-decoration: none;
}

[data-reveal="content"] {
  display: inline-block;
  position: relative;
}

[data-reveal="cover"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: 1;
}

[data-reveal="text"] {
  opacity: 0;
}

[data-js="reveal"].loaded [data-reveal="cover"] {
  -webkit-animation: reveal-cover 1.5s ease-in-out;
  animation: reveal-cover 1.5s ease-in-out;
}

[data-js="reveal"].loaded [data-reveal="text"] {
  opacity: 1;
  -webkit-animation: reveal-text 1.5s ease-in-out;
  animation: reveal-text 1.5s ease-in-out;
}

@keyframes reveal-cover {
  0% {
    width: 0;
    left: 0;
  }
  44% {
    width: 100%;
    left: 0;
  }
  54% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes reveal-text {
  0% {
    opacity: 0;
  }
  44% {
    opacity: 0;
  }
  54% {
    opacity: 1;
  }
}

.hizmetlerimiz .gorselindiv {
  position: relative;
}

@media (max-width: 768px) {
  .hizmetlerimiz img.left {
    top: -8rem;
    right: -3rem;
  }
}

@media (min-width: 768px) {
  .hizmetlerimiz img.left {
    top: -13rem;
    left: 9rem;
  }
}

@media (max-width: 768px) {
  .hizmetlerimiz img.right {
    top: -8rem;
    left: -3rem;
  }
}

@media (min-width: 768px) {
  .hizmetlerimiz img.right {
    top: -13rem;
    right: 9rem;
  }
}

@media (min-width: 768px) {
  .hizmetlerimiz div img {
    position: absolute;
    z-index: -999999;
    width: 16rem;
  }
}

@media (max-width: 768px) {
  .hizmetlerimiz div img {
    position: absolute;
    z-index: -999999;
    width: 13rem;
  }
}

.hizmetlerimiz p {
  display: block;
  line-height: 1.3;
}

@media (max-width: 576px) {
  .hizmetlerimiz {
    /*overflow-x: hidden;*/
    padding: 0;
  }
}

