/* .servicesanimated .mask span:nth-child(2) {
  background-image: linear-gradient(45deg, #18e198 50%, #0ec15d);
}

.servicesanimated .mask span:nth-child(3) {
  background-image: linear-gradient(45deg, #8a7cfb 50%, #633e9c);
}

.servicesanimated .mask span:nth-child(4) {
  background-image: linear-gradient(45deg, #fa7671 50%, #f45f7f);
}

.servicesanimated .mask span:nth-child(5) {
  background-image: linear-gradient(45deg, #fa7671 50%, #f45f7f);
}

.servicesanimated .mask span:nth-child(6) {
  background-image: linear-gradient(45deg, #fa7671 50%, #f45f7f);
}

.servicesanimated .mask span:nth-child(7) {
  background-image: linear-gradient(45deg, #fa7671 50%, #f45f7f);
} */

